<% if current_page?(root_path) %>

<% else %>
  <style type="text/css">
    .custom-pages-bg{
      background: url(<%= asset_path('top-custom-bg.jpg') %>) repeat-x;
      width: 100%;
      height: 170px;
      position: absolute;
      top: 0px;
      z-index: -10;
    }
  </style>
  <div class="custom-pages-bg">&nbsp;</div>
<% end %>
<div id="top-bg"></div>
  <div id="header" class="container">
    <div id="head" class="row">
      <div id="logo" class="span6">
        <a href="/">
          <img src="<%= asset_path('logo.png') %>" alt="">
        </a>
      </div>
      <div id="nav" class="span6">
        <ul>
          <li <% if current_page?(about_path) %> class="act-section" <% end %>>
            <a href="/about">Агенція</a>
          </li>
          <!--li>
            <a href="">Свята</a>
          </li -->
          <li <% if current_page?(services_path) || controller.controller_name == 'services' %> class="act-section" <% end %>>
            <a href="/services">Послуги</a>
          </li>
          <li <% if current_page?(contact_path) %> class="act-section" <% end %>>
            <a href="/contact">Контакти</a>
          </li>
        </ul>
      </div>
  </div><!-- #head -->
</div><!-- #header -->
