<div id="top-bg"></div>
  <div id="header" class="container">
    <div id="head" class="row">
      <div id="logo" class="span6">
        <a href="/">
          <img src="<%= asset_path('logo.png') %>" alt="">
        </a>
      </div>
      <div id="nav" class="span6">
        <ul>
          <li>
            <a href="">Агенція</a>
          </li>
          <li>
            <a href="">Свята</a>
          </li>
          <li>
            <a href="/services">Послуги</a>
          </li>
          <li class="act-section">
            <a href="">Контакти</a>
          </li>
        </ul>
      </div>
  </div><!-- #head -->
</div><!-- #header -->
